/*
Colors:
#DCDCDC
#696969
*/

html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  background-color: white;
}

h1, h2, h3, div, img, video {
  display: block;
  width: 100%;
}

span {
  font-size: .9rem;
  display: inline-block;
}

h1 {
  padding: 2rem 0;
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

p {
  font-size: .9rem;
  line-height: 1.2rem;
}

a {
  font-size: .9rem;
}

.container, .details {
  box-sizing: border-box;
}

/*HEADER SECTION*/

.header {
  height: 4rem;
  background-color: white;
  position: fixed;
  display: flex;
  flex-flow: row space-between;
}

.header img {
  width: 3em;
  height: 3em;
}

#logo {
  margin-left: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

#logo span {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.bold {
  font-weight: 700;
}

.thin {
  color: #DCDCDC;
  font-weight: 100;
}

#nav {
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#nav span {
  margin-left: 1rem;
}

/*BANNER SECTION*/

#banner {
  padding-top: 4rem;
  background-color: #DCDCDC;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

#banner .container {
  width: 60%;
  padding: 2rem 1.5rem;
}

#banner .card {
  width: 30%;
  padding-left: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#banner h3 {
  padding: 0;
  line-height: 1.5;
}

#banner .card a {
  margin: 1.5rem 0;
}

#banner .card span {
  width: 90%;
  color: white;
  text-align: center;
  background-color: black;
  padding: .5rem;
  display: block;
}

/*INFO SECTION*/

#info {
  display: flex;
}

#infomain {
  width: 60%;
  border-right: 1px solid #DCDCDC;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

#infomain .container {
  width: 100%;
  padding: 2rem 1.5rem;
}

#infomain h2 {
  padding: 0 0 1.5rem 1.5rem;
  text-align: left;
}

#infomain p {
  padding: 0rem 1.5rem;
}

#infomain span {
  padding: 2rem 1.5rem;
  font-size: .75rem;
}

#infocards {
  width: 40%;
  padding-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

#infocards .card {
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

#infocards .card:first-child {
  border-top: none;
  margin-bottom: 1px;
}

#infocards .card:last-child {
  background-color: #DCDCDC;
}

#infocards .card .container {
  width: 45%;
  padding: 1rem;
}

#infocards .card .details {
  width: 65%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

#infocards h3 {
  padding: .5rem 0;
}

#infocards p {
  padding-right: 1.5rem;
  font-size: .8rem;
}

#infocards a {
  padding: .5rem 0;
  text-decoration: none;
}

/*COURSES SECTION*/

#courses {
  background-color: #DCDCDC;
}

#courses h2 {
  padding: 2rem 0rem 1rem 0rem;
  text-align: center;
}

#courses .desktop {
  padding: .5rem 0rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#courses .card {
  max-width: 28%;
  padding: 1rem;
  box-sizing: border-box;
}

#courses .container {
  height: auto;
}

#courses .detail {
  height: 10rem;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
}

#courses h3 {
  padding: 1rem;
}

#courses span {
  padding: 0rem 1rem;
  color: #696969;
  line-height: 1.25rem;
}

/*EXHIBIT SECTION*/

#exhibit {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#exhibit h2 {
  padding: 2rem 0rem;
}

#exhibit .content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

#vid {
  width: 60%;
}

#vid .container {
  padding: 0rem 1.5rem;
}

#vid h3 {
  padding: 1.5rem 1.5rem .5rem 1.5rem;
}

#vid p {
  padding: 0rem 1.5rem 2rem 1.5rem;
}

#excards {
  padding-right: .5rem;
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

#excards .card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#excards .card:first-child {
  background-color: #DCDCDC;
}

#excards .card .container {
  width: 70%;
  padding: 1rem;
}

#excards h3 {
  padding: .5rem 0rem;
  line-height: 1.2;
}

#excards p {
  font-size: .8rem;
  line-height: 1.5;
}

/*FOOTER SECTION*/

#footer {
  padding: 1rem 0rem 3rem 0rem;
  border-top: 1px solid #DCDCDC;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#footer .desktop {
  padding-right: 1.5rem;
  width: auto;
}

#copy {
  padding-left: 1.5rem;
}

#footer span {
  color: #696969;
  font-size: .75rem;
}

/*MEDIA QUERY*/

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .desktop, #info .desktop, #courses .desktop, #exhibit .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .header.mobile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .header.mobile img {
    display: block;
    width: 2em;
  }

  #banner {
    flex-flow: column nowrap;
  }

  #banner .container {
    width: 100%;
    padding: 0;
  }

  #banner .card {
    width: 100%;
    box-sizing: border-box;
  }

  #banner .card a {
    margin-bottom: 2rem;
  }

  /*INFO SECTION*/

  #infocards {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #DCDCDC;
  }

  #infocards .card {
    border: none;
    flex-flow: column nowrap;
  }

  #infocards .card .container {
    width: 100%;
    padding: 0;
  }

  #infocards .card .details {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
  }

  #infocards .card:last-child {
    background-color: inherit;
  }

  /*COURSES SECTION*/

  #courses {
    background-color: inherit;
  }

  #courses .mobile {
    box-sizing: border-box;
    padding: 0rem 1rem 2rem 1rem;
    border-bottom: 1px solid #DCDCDC;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  #courses .mobile span {
    width: 85%;
    padding: 1.5rem;
    border: .25rem solid white;
    background-color: #DCDCDC;
    font-size: 1.25rem;
    font-weight: bold;
  }

  #vid {
    width: 100%;
    padding-bottom: 1.5rem;
  }

  #vid .container {
    padding: 0;
  }

  #vid video {
    width: 100%;
    height: auto;
  }

  #footer {
    padding: 1rem 0rem;
    border-top: none;
  }
}
